.expertise {
    background-color: #252324;
    /* background: linear-gradient(rgb(0, 0, 0) 0%, rgb(23, 23, 23) 50%, rgb(22, 27, 32) 100%); */
    padding: 110px 50px;
    height: 100vh;

    position: relative;
    /* top: 590px; */
    top: 100vh;
    z-index: 200;
}

.expertise-row {
    display: flex;
    flex-wrap: wrap;
}

.expertise-col {
    flex-basis: 50%;
    padding-right: 100px;
}

.expertise-col.left {
    padding-top: 100px;
}

.expertise-col p.expertise-brief {
    line-height: 30px;
}

.expertise-col .hire-me-btn {
    color: #fff;
    padding: 15px 40px;
    border: 2px solid #7a0404;
    border-radius: 30px;   
    transition: all 0.5s; 
}

.hire-me-btn:hover {
    background-color: #171717;
    color: #7a0404;
    border: 2px solid #171717;
    box-shadow: 2px 2px 15px #7a0404;
}

.expertise-col .expertise-header {
    color: #7a0404;
}


.language-div {
    padding-bottom: 10px;
    line-height: 5px;
    transition: all 0.5s;
}

.language-div:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.language-div p.language {
    font-size: 15px;
}

.language-div p.percent {
    float: right;
    font-size: 15px;
}

.language-div .expertise-on-bar {
    width: 100%;
    height: 5px;
    border: 1px solid #171717;
}

.Python {
    width: 90%;
    height: 6px;
    background: #7a0404;
}

.Django {
    width: 80%;
    height: 6px;
    background: #7a0404;
}

.DRF {
    width: 70%;
    height: 6px;
    background: #7a0404;
}

.Wagtail {
    width: 70%;
    height: 6px;
    background: #7a0404;
}

.JS {
    width: 60%;
    height: 6px;
    background: #7a0404;
}

.Jquery {
    width: 60%;
    height: 6px;
    background: #7a0404;
}

.HTML {
    width: 90%;
    height: 6px;
    background: #7a0404;
}

.CSS {
    width: 80%;
    height: 6px;
    background: #7a0404;
}