body {
    margin: 0px;
    padding: 0px;
    color: #fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

* {
    box-sizing: border-box;
}

body a {
    text-decoration: none;
}

span.underline {
    display: inline-block;
    width: 100px;
    height: 2px;
    background-color: #7A0404;
}

.center {
    text-align: center;
    padding: 0px 300px;
}
