.services {
    /* background-color: #252324; */
    /* background-color: rgba(37, 35, 36, 0.7); */
    background-color: rgba(0, 0, 0, 0.7);
    padding: 110px 50px;
    /* opacity: 0.98; */

    position: relative;
    /* top: 590px; */
    top: 100vh;
    z-index: 200;
}

/* .service-title {
    text-align: center;
    padding: 0px 300px;
} */


/* ======================= */

.service-wrapper {
    display: flex;
    flex-wrap: wrap;
    padding: 50px 0px;
    justify-content: space-between;
    align-items: center;
}

.card {
    flex-basis: 33.33%;
    padding: 15px;
}

.card-content {
    /* background-color: #171717; */
    background: rgba(23, 23, 23, 0.7);
    padding: 30px;
    transition: all 0.5s;
}

.card-content i {
    font-size: 35px;
    color: #7A0404;
    transition: all 1.5s;
}

.card-content:hover {
    background-color: #7A0404;
    color: #171717;
    box-shadow:2px 2px 10px rgba(83, 211, 9, 0.452);
    transform: scale(1.03);
}

.card-content:hover i {
    color: #fff;
    transform: rotateY(360deg);
}